<div [ngClass]="[store.isPhone ? 'h5-portal' : 'portal']" [ngStyle]="style">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel', 'caption-box']">
    <div class="caption">
      <div class="title">保函通</div>
      <span class='redStyle'></span>
      <div class='detail'>
        <span style='margin-left:0px'>一键申请</span>
        <span>快速出函</span>
      </div>
    </div>
  </div>
</div>
<div [ngClass]="[store.isPhone ? 'h5-bht-detail' : 'bht-detail']" style="background-color: white;margin-bottom: 60px;">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel']">
    <div class="title-box">
      <span class="title-name">保函通简介</span>
      <div class="title-line"></div>
    </div>
    <div class="desc-box">
      <div class="desc">
        链融保函通是基于区块链技术构建的线上电子保函平台。依托区块链、大数据、人工智能等技术，平台可实现投标保函业务从申请到出函的全流程线上处理、
        履约保函以及农民工工资保函等业务的无缝对接，可极大的缩短业务办理周期，降低企业整体成本，有效管控业务过程信息安全，为企业降本增效有效助力。
      </div>
    </div>
  </div>
</div>

<div [ngClass]="[store.isPhone ? 'h5-bht-detail' : 'bht-detail']" style="background-color: white;margin-bottom: 60px;">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel']">
    <div class="title-arrow" style="background: url(assets/images/bht-detail/arrow.png) no-repeat;"></div>
    <div class="title-box margin-bt-80">
      <span class="title-name-flow">/&nbsp;&nbsp;保函通电子保函业务流程图示&nbsp;&nbsp;/</span>
    </div>
    <div class="img-box-flow" style="background: url(assets/images/bht-detail/guarantee-flow.png) no-repeat;"></div>
  </div>
</div>

<div [ngClass]="[store.isPhone ? 'h5-bht-detail' : 'bht-detail']">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel']">
    <div class="title-box">
      <span class="title-name">保函通优势</span>
      <div class="title-line"></div>
    </div>
    <div class="img-box" style="background: url(assets/images/bht-detail/advance.png) no-repeat;height: 515px;">
    </div>
  </div>
</div>

<div [ngClass]="[store.isPhone ? 'h5-bht-detail' : 'bht-detail']" style="background: url(assets/images/bht-detail/company-intro.png) no-repeat;height: 392px;">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel']">
    <div class="title-box">
      <span class="title-name" style="color: #FFFFFF;">公司简介</span>
      <div class="title-line"></div>
    </div>
    <div class="desc-box">
      <div class="desc" style="color: #FFFFFF;">
        深圳市链融科技股份有限公司（简称“链融科技”）成立于2017年，是一家专注于产融服务的科技公司。公司依托云计算、大数据、区块
        链、人工智能、物联网等新兴技术，打造了保理通、证券通、普惠通、保函通等系列平台产品；以标准化、数字化、可视化、智能化方式提供
        专业产融服务，让真实、合法、有效的交易快速获得资金支持。
      </div>
    </div>
  </div>
</div>

<div [ngClass]="[store.isPhone ? 'h5-bht-detail' : 'bht-detail']" style="background-color: white;height: 527px;margin-bottom: 30px;">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel']">
    <div class="title-box">
      <span class="title-name">操作指引</span>
      <div class="title-line"></div>
    </div>
    <div class="img-box" style="background: url(assets/images/bht-detail/operate-guide.png) no-repeat;height: 307px;">
    </div>
  </div>
</div>

<div [ngClass]="[store.isPhone ? 'h5-bht-detail' : 'bht-detail']" style="background-color: #F3F5F9;">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel']">
    <div class="title-box">
      <span class="title-name">联系我们</span>
      <div class="title-line"></div>
    </div>
    <div class="desc-box">
      <div class="desc2">
        扫码关注，我们将为您提供专业的咨询或服务！
      </div>
    </div>
    <div class="qrcode-box">
      <div class="qrcode-box-inner">
        <div class="qrcode-box-title">
          业务办理
        </div>
        <div class="qrcode-box-img" style="background: url(assets/images/bht-detail/public-account.png) no-repeat;height: 234px;width: 234px;">
        </div>
        <div class="qrcode-box-desc">
          链融科技公众号
        </div>
      </div>
      <div class="qrcode-box-split-line"></div>
      <div class="qrcode-box-inner">
        <div class="qrcode-box-title">
          业务办理
        </div>
        <div class="qrcode-box-img" style="background: url(assets/images/bht-detail/bht-mini-program.png) no-repeat;height: 234px;width: 234px;">
        </div>
        <div class="qrcode-box-desc">
          链融保函通小程序
        </div>
      </div>
      <div class="qrcode-box-split-line"></div>
      <div class="qrcode-box-inner" >
        <div class="qrcode-box-title">
          业务咨询
        </div>
        <div class="qrcode-box-img" style="background: url(assets/images/bht-detail/qiyewx.png) no-repeat;height: 234px;width: 234px;">
        </div>
        <div class="qrcode-box-desc">
          胡先生 / 13760451487
        </div>
      </div>
    </div>
  </div>
</div>

