<div [ngClass]="[store.isPhone ? 'h5-portal' : 'portal']" [ngStyle]="style">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel', 'caption-box']">
    <div class="caption">
      <div class="title">润秒贴</div>
      <span class='redStyle'></span>
      <div class='detail'>
        <span style='margin-left:0px'>智慧银票</span>
        <span>极致体验</span>
      </div>
    </div>
  </div>
</div>
<div [ngClass]="[store.isPhone ? 'h5-runmiaotie' : 'runmiaotie']" style="background-color: white;">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel']">
    <div class="title-box">
      <span class="title-name">产品介绍</span>
      <div class="title-line"></div>
    </div>
    <div class="desc-box">
      <div class="desc">
        有票据融资需求的企业客户，通过“华润银行秒金融”微信小程序在线认证、签约、申请额度、利润测算，通过其他银行发起银票贴现业务申请，华润银行线上审核、签收、放款。
      </div>
    </div>
  </div>
</div>

<div [ngClass]="[store.isPhone ? 'h5-runmiaotie' : 'runmiaotie']">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel']">
    <div class="title-box">
      <span class="title-name">核心优势</span>
      <div class="title-line"></div>
    </div>
    <div class="img-box" style="background: url(assets/images/banner/runmiaotie-core-advance.png) no-repeat;height: 490px;">
    </div>
  </div>
</div>

<div [ngClass]="[store.isPhone ? 'h5-runmiaotie' : 'runmiaotie']" style="background: url(assets/images/banner/runmiaotie-customer-allow.png) no-repeat;height: 610px;">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel']" style="width: 1380px;">
    <div class="title-box">
      <span class="title-name" style="color: #FFFFFF;">客户准入</span>
      <div class="title-line"></div>
    </div>
    <div class="img-box">
      <div class="img-box-desc">
      </div>
      <div class="img-box-desc" style="background: url(assets/images/banner/runmiaotie-customer-allow-text.png) no-repeat;">
      </div>
    </div>
  </div>
</div>

<div [ngClass]="[store.isPhone ? 'h5-runmiaotie' : 'runmiaotie']" style="background-color: white;">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel']">
    <div class="title-box">
      <span class="title-name">服务流程</span>
      <div class="title-line"></div>
    </div>
    <div class="img-box" style="background: url(assets/images/banner/runmiaotie-service-flow.png) no-repeat;height: 885px;">
    </div>
  </div>
</div>

<div [ngClass]="[store.isPhone ? 'h5-runmiaotie' : 'runmiaotie']" style="background-color: #F3F5F9;">
  <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel']">
    <div class="title-box">
      <span class="title-name">联系我们</span>
      <div class="title-line"></div>
    </div>
    <div class="desc-box">
      <div class="desc2">
        扫码关注，我们将为您提供专业的咨询或服务！
      </div>
    </div>
    <div class="qrcode-box">
      <div class="qrcode-box-inner">
        <div class="qrcode-box-title">
          业务办理
        </div>
        <div class="qrcode-box-img" style="background: url(assets/images/banner/runmiaotie-mini-qr.png) no-repeat;height: 234px;width: 234px;">
        </div>
        <div class="qrcode-box-desc">
          润秒贴小程序
        </div>
      </div>
      <div class="qrcode-box-split-line"></div>
      <div class="qrcode-box-inner" >
        <div class="qrcode-box-title">
          业务咨询
        </div>
        <div class="qrcode-box-img" style="background: url(assets/images/banner/runmiaotie-wx-qr.png) no-repeat;height: 234px;width: 234px;">
        </div>
        <div class="qrcode-box-desc">
          胡先生 / 13760451487
        </div>
      </div>
    </div>
  </div>
</div>

