<!-- 底部菜单 -->
<div class="portal-footer">
  <div class="footer-top">
    <div class="inner clear">
      <div class="footer-navbar fl clear">
        <ul class="footer-nav fl">
          <li>
            <a routerLink="/portal/column/161">关于我们</a>
          </li>
          <li>
            <a routerLink="/portal/column/164">联系我们</a>
          </li>
          <li>
            <a routerLink="/portal/column/111">平台新闻</a>
          </li>
          <li>
            <a routerLink="/portal/column/112">平台通知</a>
          </li>
          <li>
            <a routerLink="/portal/column/21">平台守则</a>
          </li>
        </ul>
        <ul class="footer-subnav fl">
          <li>
            <a routerLink="/portal/column/232">机构注册</a>
          </li>
          <li>
            <a routerLink="/portal/column/231">出票登记</a>
          </li>
          <li>
            <a routerLink="/portal/column/233">保理申请</a>
          </li>
        </ul>
      </div>
      <div class="footer-qrcode fl">
        <div class="qrcode">
          <img src="assets/lr/img/qrcode_lrscft.jpg" />
        </div>
        <p class="text-center">关注我们</p>
      </div>
      <div class="footer-contact fl">
        <h3 class="contact-title">服务热线 ：</h3>
        <h3 class="contact-subtitle">0755-29966132</h3>
        <h4 class="contact-subtitle">工作日 8:30-18:00</h4>
        <h4 class="contact-subtitle">{{ Version }}</h4>
        <h4>
          <a
            style="color: #72afd2"
            href="https://www.lrscft.com/exe/lrscft-setup-1.0.2.exe"
            >下载链融科技供应链服务平台桌面应用程序</a
          >
        </h4>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="inner footer-text">
      <p>
        ©深圳市链融科技股份有限公司版权所有 2017-2022 1.15.12
        建议使用IE11浏览器，1280×800以上分辨率
      </p>
      <p>地址：深圳市福田区莲花街道海田路民生金融大厦14F 座机：0755-29916889</p>
      <p>
        <img src="assets/lr/img/police.png" /><a
          style="color: #72afd2"
          href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030402004002"
          target="_blank"
          >粤公网安备 44030402004002号</a
        >&nbsp;&nbsp;<a
          style="color: #72afd2"
          href="http://beian.miit.gov.cn/"
          target="_blank"
          >粤ICP备17097165号</a
        >
      </p>
    </div>
  </div>
</div>
