<div [ngClass]="[store.isPhone ? 'h5-portal-news' : 'portal-news']">
  <div class="tab">
    <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel', 'tab-nav']">
      <div (click)="onSelectChange(tab)" [ngClass]="['tab-nav-item', tab.id === columnId ? 'active' : '']" *ngFor="let tab of tabList;">{{tab.name}}</div>
    </div>
  </div>
  <div>
    <nz-spin *ngIf="(!store.isPhone) || (store.isPhone && !newsList.length)" nzSimple nzTip="数据加载中..." [nzSpinning]="spinning" [ngStyle]="{display: 'flex', alignItems: 'center', justifyContent: 'center', height: spinning ? '225px' : '0px'}"></nz-spin>
    <div>
      <div class="news-box" *ngIf="(!store.isPhone && !spinning) || (store.isPhone && newsList.length) || (store.isPhone && !spinning)">
        <div [ngClass]="[store.isPhone ? 'h5-portal-panel' : 'portal-panel']">
          <div *ngIf="newsList.length>0;else empty">
            <div class="news" *ngFor="let news of newsList;let index = index" (click)="onView(news)">
              <div class="title">{{news.title}}</div>
              <div class="date">{{news.createTime | date: 'yyyy-MM-dd'}}</div>
            </div>
          </div>
          <ng-template #empty>
            <nz-empty [ngClass]="[store.isPhone ? 'empty' : '']"></nz-empty>
          </ng-template>
        </div>
      </div>
      <div class="pagination-box" *ngIf="!store.isPhone && !spinning" [ngStyle]="{paddingBottom: newsList.length ? '60px' : '35px'}">
        <div class="portal-panel">
          <nz-pagination [(nzPageIndex)]="page.num" [nzPageSize]="page.size" [nzTotal]="page.total" [nzSize]="'small'" [nzShowTotal]="totalTemplate" (nzPageIndexChange)="pageChange($event)"></nz-pagination>
          <ng-template #totalTemplate let-total>共 {{page.total}} 条</ng-template>
        </div>
      </div>
      <div class="more" *ngIf="store.isPhone && newsList.length">
        <i *ngIf="spinning"  nz-icon nzType="loading" nzTheme="outline" style="margin-right: 12px;"></i>{{spinning ? '数据加载中...' : (page.total > newsList.length ? '下滑查看更多' : '已加载全部')}}
      </div>
    </div>
  </div>
</div>
